
.container-left {
    height: 600px;
    width: 100%;
    color: white;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    border: solid;
    border: 2px dotted;


}

.img-left {

    width: 20%;
}

